@*@if (TempData["Success"] != null)
        {
    <center>
        <p class="alert alert-success" style="width:1000px" id=" successMessage">@TempData["VendorName"]
        vendor to branch  @TempData["BranchName"]
         TempData["Assigned"]</p>
    </center>
        }*@


<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Auditing</a></li>
    <li>Audit Management</li>
</ul>
<h2 class="ML15"></h2>

@*@Html.BeginForm()

{*@
<div class="mid_content_sec">
    <center>
        @ViewBag.Message
    </center>

</div>

    
