@model ComplianceAuditWeb.Models.VendorActivateDeactivateViewModel


@{
    ViewBag.Title = "Activate Vendor ";
}

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Vendor Management</a></li>
    <li>Activate Vendor</li>
</ul>
<h2 class="ML15">Activate Vendor</h2>
<center>
    <h2 class="ML15">Are you sure you want to activate?</h2>
</center>
@using (Html.BeginForm())


{
    @Html.AntiForgeryToken()

    <div class="mid_content_sec">

        <div class="col-xs-4 subSelect "></div>
        <center>
            <div class="input-field">



                @Html.HiddenFor(m => m.VendorBranchID)

                @*@Html.LabelFor(m => m.CompanyName, new { @class = "floating-label", Style = "font-size:15px" })*@

                @*@Html.Label("Selected Company Name")*@
                @Html.TextBoxFor(m => m.VendorName, new { @class = "inputMaterial ui - autocomplete - input", @readonly = "readonly", @Style = "text-align:center" })

            </div>
        </center>
    </div>
    <div class="clearfix"></div>
    <ul class="list-inline continueBtn">
        <li>
            <center>
                @*<input type="submit" value="Activate" class="btn btn-default" />*@
                <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="Submit" oncancel="ActivateGroupCompany">Activate<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>
                <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="Submit">Cancel<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>
            </center>
        </li>
    </ul>


}


