@model IEnumerable<ComplianceAuditWeb.Models.ListOfGroupCompanies>
@{
    ViewBag.Title = "Vendor Dashboard";
}
<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Vendor Management</a></li>
    <li> Vendor</li>
</ul>
<h2 class="ML15"> Vendor Dashboard</h2>

<div class="new_section_box">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">Branch Vendor Mapping:</h2>


            @foreach (var item in Model)
            {
                <div class="col-sm-3 QueList">
                    <div class="queContainer">
                        <a href="@Url.Action("AssignVendorForBranch", "ManageOrganization",new { VendorID = item.CompanyID })">
                            <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                            <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyName)</h3>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>





            }

            <div class="clearfix"></div>

        </div>

    </div>

</div>



