@*@section footer
    {
    <div class="footer_text" style="padding-right:15px;">© 2018 paajakaconsulting.com All Rights Reserved</div>
    }*@

<div class="footer_text" style="padding-right:15px;">© 2018 paajakaconsulting.com All Rights Reserved</div> 