<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/assets/css/loginpage.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <body>
        @Html.Action("Login", "UserManagement");
    </body>
</body>
</html>
