@model ComplianceAuditWeb.Models.LoginViewModel
@{ 
    Layout = null;
    ViewBag.Title = "Login Page";
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/assets/css/loginpage.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <br />
        <br />
        <br />

        <div id="login">
            @using (Html.BeginForm())
            {

                <div style="align-content:center; margin-left:100px">
                    <br />

                    <img src="~/Content/assets/images/logo_new.png" /><br /><br /><br />
                </div>

                <span class="fontawesome-user"></span>
                @Html.TextBoxFor(model =>model.EmailId, new { id = "user", placeholder = "Username" })


                <span class="fontawesome-lock"></span>
                @Html.PasswordFor(model => model.UserPassword, new { id = "pass", placeholder = "Password" })


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="submit" value="Login">
                <br />
                <br />
                <p class="message">Forgot Password? <a href="#">Click Here</a></p>
                <br />
            }
        </div>
    </body>
</html>