
@{
    ViewBag.Title = "_sampleDashboard";
}

<div class="new_section_box">
    <div class="tab-content">

        <div id="home" class="tab-pane fade in active">


            <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">Manage Company:</h2>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                    <h3 class="PB25">Company 1</h3>
                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <span class="qIcon"><img src="images/company1.JPG" alt=""></span>
                    <h3 class="PB25">Company 2</h3>
                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <span class="qIcon"><img src="images/company1.JPG" alt=""></span>
                    <h3 class="PB25">Company 1</h3>
                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                    <h3 class="PB25">Company 2</h3>
                    <div class="clearfix"></div>


                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>
