
@{
    ViewBag.Title = "_samplePage";
}
<ul class="breadcrumb ML15">
    <li><a href="http://maxxhubdemo/Dashboard">Manage Company</a></li>
    <li>Add New Company</li>
</ul>

<h2 class="ML15">Add New Company</h2>

<div class="mid_content_sec">

    <div class="col-xs-10 subSelect ">
        <div class="input-field">
            <label class="floating-label">Company Name:<span style="color:red">*</span></label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" maxlength="100" name="RepositoryUrl" type="text" value="Adani Power Pvt. Ltd." autocomplete="off">
            <span id="loading_data_icon"></span>


        </div>
    </div>

    <div class="col-xs-10 subSelect ">
        <div class="input-field">
            <label class="floating-label">Company Website URL:<span style="color:red">*</span></label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" maxlength="100" name="RepositoryUrl" type="text" value="http://www.adanipower.com" autocomplete="off">
            <span id="loading_data_icon"></span>


        </div>
    </div>


    <div class="clearfix"></div>


    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            <label class="floating-label">Country</label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" name="RepositoryUrl" type="text" value="INDIA">
            <span id="loading_data_icon"></span>


        </div>
    </div>


    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            <label class="floating-label">State</label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" name="RepositoryUrl" type="text" value="KARNATAKA">
            <span id="loading_data_icon"></span>


        </div>
    </div>


    <div class="clearfix"></div>

    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            <label class="floating-label">City	:</label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" maxlength="100" name="RepositoryUrl" type="text" value="BANGALORE" autocomplete="off">
            <span id="loading_data_icon"></span>


        </div>
    </div>


    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            <label class="floating-label">PIN :</label>
            <input class="inputMaterial ui-autocomplete-input" id="RepositoryUrl" maxlength="100" name="RepositoryUrl" type="text" value="560010" autocomplete="off">
            <span id="loading_data_icon"></span>


        </div>
    </div>




    <ul class="list-inline continueBtn">
        <li>
            <input type="hidden" id="hdnProceedValue" name="ProceedValue">
            <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="CREATE PROJECT" onclick="return ShowHide()">Cancel<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>
            <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="CREATE PROJECT" onclick="return ShowHide()">Reset<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>
            <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="CREATE PROJECT" onclick="return ShowHide()">Add Company<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>
        </li>
    </ul>


</div>