<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ToEmail" value="enter mail id" />
    <add key="UserID" value="enter mail id" />
    <add key="UserPassword" value="password" />
    <add key="SMTPPort" value="587" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Login_error" value=" There was an error with your E-Mail/Password combination. Please try again." />
    <add key="Login_error_null" value="Please enter the UserName and Password" />
    <add key="SelectGroupCompany" value="Please Select the Group Company" />
    <add key="FirstName" value="First Name" />
    <add key="MiddleName" value="Middle Name" />
    <add key="LastName" value="Last Name" />
    <add key="EmailId" value="Email Id(UserName)" />
    <add key="Contact_Number" value="Contact Number" />
    <add key="Password" value="Password" />
    <add key="Gender" value="Gender" />
    <add key="Male" value="Male" />
    <add key="Female" value="Female" />
    <add key="Others" value="Others" />
    <add key="Save" value="Save" />
    <add key="Update" value="Update" />
    <add key="Delete" value="Delete" />
    <add key="Confirm_Password" value="Confirm Password" />
    <add key="UserGroup" value="Usre Group" />
    <add key="Roles" value="Roles" />
    <add key="Start Date" value="Please enter the start date" />
    <add key="Company_Name" value="Please enter the company name" />
    <add key="Vendor Name" value="Please enter the vendor name" />
    <add key="Group Company Name" value="Please enter the group company name" />
    <add key="Branch Name" value="Please enter the branch name" />
    <add key="Industry_Type" value="Please select the Industry Type" />
    <add key="Branch Type" value="Please select the Branch Type" />
    <add key="Postal_Code" value="Postal Code" />
    <add key="Country_ID" value="Please enter the Country" />
    <add key="State_ID" value="Please enter the State" />
    <add key="Auditing_Frequency" value="Please select the Auditing Frequency" />
    <add key="Company_Email_ID" value="Please enter correct Email Address" />
    <add key="Website" value="Website" />
    <add key="Postal_Code" value="Please enter proper postal code" />
    <add key="Contact Number 1" value="Please enter the contact number" />
    <add key="No_Companies" value="There are no companies created." />
    <add key="No_Branches" value="There are no branches created." />
    <add key="No_Vendors" value="There are no vendors created." />
    <add key="Requried" value="Please enter all requried fields." />
    <add key="Group Company Name" value="Please enter the group company name" />
    <add key="Vendor Website" value="Please enter the vendor website" />
    <add key="Vendor Email ID" value="Please enter the vendor email address" />
    <add key="No_Vendors" value="No vendors created" />
    <add key="FilePath" value="~/UploadedFiles" />
    <add key="ImagePath" value="~/UploadedImages" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IAccessService" />
        <binding name="BasicHttpBinding_IOrganizationService" />
        <binding name="BasicHttpBinding_IAccessService1" />
        <binding name="BasicHttpBinding_IOrganizationService1" />
        <binding name="BasicHttpBinding_IComplianceXrefService" />
        <binding name="BasicHttpBinding_IAuditService" />
        <binding name="BasicHttpBinding_IVendorService" />
        <binding name="BasicHttpBinding_IReportingService" />
        <binding name="BasicHttpBinding_IAuditService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56172/AccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessService" contract="AccessService.IAccessService" name="BasicHttpBinding_IAccessService" />
      <endpoint address="http://localhost:56172/OrganizationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizationService" contract="OrganizationService.IOrganizationService" name="BasicHttpBinding_IOrganizationService" />
      <endpoint address="http://localhost:56172/AccessService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessService1" contract="AccessService.IAccessService" name="BasicHttpBinding_IAccessService1" />
      <endpoint address="http://localhost:56172/OrganizationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrganizationService1" contract="OrgService.IOrganizationService" name="BasicHttpBinding_IOrganizationService1" />
      <endpoint address="http://localhost:56172/ComplianceXrefService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComplianceXrefService" contract="ComplianceXrefService.IComplianceXrefService" name="BasicHttpBinding_IComplianceXrefService" />
      <endpoint address="http://localhost:56172/AuditService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditService" contract="AuditService.IAuditService" name="BasicHttpBinding_IAuditService" />
      <endpoint address="http://localhost:56172/VendorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorService" contract="VendorService.IVendorService" name="BasicHttpBinding_IVendorService" />
      <endpoint address="http://localhost:56172/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:56172/ReportingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService" contract="ReportingService.IReportingService" name="BasicHttpBinding_IReportingService" />
      <endpoint address="http://localhost:56172/AuditService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditService1" contract="AudService.IAuditService" name="BasicHttpBinding_IAuditService1" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 1D20C21D-9880-4DDD-B1D5-7F34BE991F94-->